<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog de Viajes</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'final_app/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'final_app_index' %}">
                    {% if user.is_authenticated and user.avatar.imagen %}
                    <img src="{{user.avatar.imagen.url}}" height="64">
                    {% endif %}
                    | Hola, {{user.first_name}} |
                    Blog de Playas
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'final_app_index' %}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'final_app_signup' %}">Registrarse</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'final_app_mensajes_crear' %}">Contacto</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'final_app_about' %}">Acerca de</a></li>
                        {% if user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'final_app_listar' %}">Panel de Control</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'final_app_logout' %}">Salir</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'final_app_login' %}">Ingresar</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Acerca de mí</h1>
                </div>
            </div>
        </header>
        <!-- Page content-->
        {% block contenido %}
        <form style="text-align: justify;" method="post">
        <div style="padding: 0 40px">
        <p> 
            "Soy Joaquín Megías, un apasionado por la tecnología. Recientemente, me he introducido en el mundo de la programación a través del curso de Python en Coderhouse. Gracias a esta formación, he sido capaz de crear ésta aplicación utilizando django desde Visual Studio Code. Estoy decidido a seguir capacitándome para implementar lo aprendido en mi fábrica de muebles, donde trabajo junto a mi hermano. Queremos hacer crecer nuestra empresa utilizando la programación y la tecnología para mejorar nuestros procesos y productos."</p> 
            </div>
        {% endblock %}
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Blog de Playas 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>